<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>one.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CDEF1BA71DDC3BF700772F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDEF1BC01DDC3BF700772F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDEF1BCB1DDC3BF700772F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
